/**
 * 7.BLOCKS
 */
.block {
  margin: 10px 0 20px 0;
}
.block h3 {
  font-size: 1.6em;
  margin: 0.5em 0.5em 0.5em 0;
  color: #0173BA;
}
.block ul {
 margin: 0;
 padding: 0 0 0.2em;
}
#container .block .content {
  padding: 5px 15px; 
}
#container .block .border-top,
#container .block .border-bottom,
#comments .border-top,
#comments .border-bottom {
  background-position: 0px 0px;
  height: 10px;
  background-repeat: no-repeat;
}
#container .block .right,
#comments .right {
  background-position: 100% -10px;
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  float: right;
}
#container .block .border-bottom .right,
#comments .border-bottom .right {
  background-repeat: no-repeat;
  background-position: 100% -30px;
}
#container .block .border-bottom,
#comments .border-bottom {
  background-position: 0px -20px;
  clear: both;
}
.view-content .lees-meer {
  margin-top: 0.2em;
}

/* MORE and LEES MEER links */
.field-field-leesmeer,
.views-field-view-node,
.more-link {
  text-align: right /* for the read-more link */
}
.lees-meer,
.views-field-view-node a,
.more-link a {
  background: transparent url(../images/arrow.gif) no-repeat scroll right center;
  padding-right: 23px; 
}

/* GREY */
#container .block.grey .wrapper  {
  background: #eeeeee;
}
#container .block.grey .border-top,
#container .block.grey .border-bottom,
#container .block.grey .right {
  background-image: url(../images/block-grey-bg.png);
}

/* LIGHT GREEN */
#comments .green {
  background: #E9EDDD none repeat scroll 0 0;
}
#comments .green .border-top,
#comments .green .border-bottom,
#comments .green .right {
  background-image: url(../images/block-lgreen-bg.png);
}

/* GREEN */
#container .block.green .wrapper {
  background: #e6efce;
}
#container .block.green .border-top,
#container .block.green .border-bottom,
#container .block.green .right {
  background-image: url(../images/block-green-bg.png);
}

/* ORANGE */
#container .block.orange .wrapper  {
  background: #ffe9c6;
}
#container .block.orange .border-top,
#container .block.orange .border-bottom,
#container .block.orange .right {
  background-image: url(../images/block-orange-bg.png);
}
#user-login-form .item-list ul li {
  background: none;
  padding: 0;
}
#search-block-form .form-text {
  width: 8em;
}
#search-block-form input.form-submit {
  font-size: .9em;
  width: 5em;
  padding: 0;
}
