/* 12. COMMENTS */
.comment {
  margin-bottom: 1em;
}
.comment .submitted {
  color: #888;
  margin: 0pt 10px;
  float: left;
}
.comment .content {
  padding: 10px;
  overflow: hidden;
}
.comment .links {
  float: right;
  margin-right: 10px;
}
.comment .new {
  color: #0173BA;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}
.comment .picture {
  float: right;
  margin: 0 .5em .5em .5em;
}

