/**
 * 1.GLOBAL
 */
html {
  overflow-y:scroll;
}
body {
  background: #539de1 url(../images/background.png) 0px 100px repeat-x;
  color: #333;
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
  margin: 0;
  padding: 0;
}
#wrapper {
  /* Use a 12px base font size with a 16px line height */
  font-size: 0.8125em; /* 16px x .8125 = 13px */
  line-height: 1.385em; /* 13px x 1.385 = 18px */
  font-family: lucida Grande, Helvetica, Arial, sans-serif;      
}
#tinymce {
  background: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em;
  margin: .5em 0;
}
h2 {
  color:#0173BA;
  font-size:1.8em;
  margin:0.5em 0.5em 0.5em 0;
}
h3 {
  font-size: 1.333333em;
  margin: .5em 0;
}
h4 {
  font-size: 1.1667em;
  margin: .5em 0;
}
a:link,
a:visited {
  text-decoration: none;
}
a:focus {
  outline: 1px dotted;
}
a:hover,
a:active,
li a.active {
  outline: none;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin: 0 0 0.7em;
}
blockquote {
  margin: 1.25em;
  padding: 1.25em 1.25em 0 1.25em;
}
em {
  padding: 0 3px 0 0;
}
hr {
  background: #7f7f7f;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
}
img,
a img {
  border: none;
  outline: none;
}
.content img {
  max-width: 640px;
}
