/**
 * 3.HEADER
 */
#header {
  margin: 0;
  padding: 0px 3px;
  position: relative;
  height: 100px;
}
#header h1 {
  float: left;
  padding: 0px;
  margin: 15px 0px;
}
#header h1 a {
  font-size: 50px;
  color: white;
}
#header #sitename {
  display: block;
}
#header #siteslogan {
  display: block;
  font-size: .75em;
}
#search-theme-form {
  display: block;
  position: absolute;
  top: 36px;
  right: 0px;
  clear: both;
}
#search-theme-form .form-text {
  font-size: 14px;
}
#search-theme-form .form-item,
#search-theme-form .form-submit {
  float: left;
  margin: 0px 0px 0px 10px;
  padding: 0;
}
#search-theme-form .form-submit {
  outline: none;
  margin-top: 2px;
}
input#edit-search-theme-form-1 {
  width: 150px;
  height: 20px;
}
#search label {
  display:none;
}
#header .block {
  margin:0;
}
#header .block-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}
#header .metamenu {
  position: relative;
  margin: 0;
  padding: 0;
}
#header .block-menu li {
  float: left;
  padding: 0px 5px;
  border-right: solid 1px white;
}
#header .block-menu li.last {
  padding-right: 0px;
  border: none;
}
#header .metamenu li.second {
  background: url(../images/hr2.gif) no-repeat 0 2px;
}
#header .metamenu li a,
#header .block-menu li a {
  color: #FFFFFF;
  padding: 0;
}
ul.primary-links {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
ul.primary-links li.active-trail a,
ul.primary-links li a:hover {
  background: #0273ba url(../images/tab-top-bg.png) no-repeat scroll 0 0;
}
ul.primary-links li,
ul.secondary-links li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.primary-links li a {
  background: none;
  color: white;
  display: block;
  font-size: 1.3em;
  height: 20px;
  list-style-type: none;
  margin: 0 5px 0 0;
  padding: 4px 0 6px 10px;
  text-decoration: none;
  white-space: nowrap;
}
ul.primary-links li a span.tab-inner,
ul.primary-links li a span.tab-inner,
ul.primary-links li a span.tab-inner {
  background: none;
  padding: 0 10px 6px 0;
}
ul.primary-links li a.active span.tab-right,
ul.primary-links li.active-trail a span.tab-right,
ul.primary-links li a:hover span.tab-right {
  background: #0273ba url(../images/tab-top-bg.png) no-repeat scroll 100% -60px;
  padding-top: 4px;
}
ul.secondary-links {
  padding-top: 8px;
  float: right;
}
ul.secondary-links li {
  padding: 6px 0;
}
ul.secondary-links li a {
  margin: 0 5px 0 0;
  padding: 4px 0 8px 10px;
}
ul.secondary-links li.active-trail a,
ul.secondary-links li a:hover {
  background: #FFFFFF url(../images/tab-bottom-bg.png) no-repeat scroll 0 0;
}
ul.secondary-links li a span.tab-right {
  color: #d4e6f7;
  font-weight: bold;
  font-size: 1.1em;
  font-stretch: condensed;
  height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 4px 12px 2px 0;
  text-decoration: none;
  white-space: nowrap;
}
ul.secondary-links li.first a {
  position: relative;
}
ul.secondary-links span.first-active {
  position: absolute;
  top: 90%;
  z-index: 100;
  left: 0px;
  height: 10px;
  width: 10px;
}
ul.secondary-links li.active span.first-active,
ul.secondary-links li.first:hover span.first-active {
  background: white;
}
ul.secondary-links li a.active span.tab-right, ul.secondary-links li a:hover span.tab-right {
  background: transparent url(../images/tab-bottom-bg.png) no-repeat scroll 100% -60px;
  color: #0173ba;
}

/*negative margin keeps from pushing node h2 titles down*/
.breadcrumb {
  color: #ccc;
  font-size: 1em;
  margin: 0 0 -1.25em;
  padding: 0;
}
.breadcrumb a:link, .breadcrumb a:visited {
  color: #666;
}
.breadcrumb a:hover {
  color: #999;
}
