/* SHOWCASES */
.view-display-id-page_1 .views-view-grid td {
  padding: 5px;
}

/* DOWNLOAD PAGE */
#block-packager-0 {
  float: left;
  margin-top: 0;
}
#block-packager-0 .download-drupal {
  padding: 20px;
  width: 220px;
}
#node-1829 {
  float: left;
  margin-left: 20px;
}
#container .block-packager .content {
  padding: 5px 20px;
}
#block-packager-0 .content img {
  margin-bottom: 5px;
}
.download-ook {
  float: right;
  width: 300px;
  margin-top: 10px;
}
.download-info {
  clear: both;
  margin-left: 10px;
}

/* SERVICE PROVIDERS */

/* Service provider view */
.views-exposed-form .form-checkboxes {
  margin: 0;
}
.views-exposed-form {
  background-color: #eee;
  padding: 10px;
}
.views-exposed-widget .form-item {
  margin: 0;
}
.views-exposed-form .views-exposed-widget {
  margin-right: 15px;
}
.views-exposed-form .widget-0 .views-widget,
.views-exposed-form .views-exposed-widget .views-operator {
  border-top: 1px solid #ccc;
  padding: 2px;
}
#views-exposed-form-serviceproviders-page-1 .widget-0,
#views-exposed-form-publicaties-page-1 .widget-0 {
  width: 330px;
}
#views-exposed-form-serviceproviders-page-1 .widget-1,
#views-exposed-form-serviceproviders-page-1 .widget-2,
#views-exposed-form-publicaties-page-1 .widget-1 {
  width: 100px;
}
#views-exposed-form-serviceproviders-page-1 .widget-0 .form-item,
#views-exposed-form-publicaties-page-1 .widget-0 .form-item {
  width: 160px;
  float: left;
}
#views-exposed-form-serviceproviders-page-1 .views-exposed-widget .select-dienst input {
  display: inline;
}
#views-exposed-form-serviceproviders-page-1 .views-exposed-widget .form-submit {
  margin-top: 1.5em;
  margin-left: 20px;
}
#views-exposed-form-publicaties-page-1 .views-exposed-widget .form-submit {
  margin-top: 8em;
}
.view-serviceproviders .views-row-odd,
.view-serviceproviders .views-row-even,
.view-publicaties .views-row-odd,
.view-publicaties .views-row-even {
  margin-bottom: 20px;
}
.view-serviceproviders .views-field-title,
.view-publicaties  .views-field-title {
  margin: 0;
}
.view-serviceproviders .views-field-title h2,
.view-publicaties .views-field-title h2 {
  margin: 0 0 0.5em;
  font-size: 1.4em;
}
.view-serviceproviders .views-field-field-serviceprovider-logo-fid,
.view-publicaties .views-field-field-screenshot-fid {
  width: 180px; 
  height: 135px; 
  float: left; 
  border: 1px solid #CCC;
  margin-right: 20px;
  padding: 5px;
  display: table; 
  overflow: hidden;
}
.view-serviceproviders .views-field-field-serviceprovider-logo-fid .field-content,
.view-publicaties .views-field-field-screenshot-fid .field-content {
  vertical-align: middle;
  display: table-cell;
}
.view-serviceproviders .views-field-field-serviceprovider-logo-fid a,
.view-publicaties .views-field-field-screenshot-fid a {
  text-align: center; 
  display: block;
}
.view-serviceproviders .serviceprovider-summary,
.view-publicaties .publicatie-summary {
  float: left; 
  width: 420px;
}
.view-serviceproviders .views-field-tid .item-list {
  display: inline;
}
.view-serviceproviders .views-field-tid .item-list ul {
  margin: 0;
  display: inline;
}
.view-serviceproviders .views-field-tid .item-list ul li {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}
.view-serviceproviders .views-field-field-serviceprovider-link-url,
.view-publicaties .views-field-tid-1 {
  margin-top: 1em;
}

/* serviceprovider node */
.node-type-serviceprovider #serviceprovider-summary {
  margin-bottom: 2em;
}
#serviceprovider-summary dt {
  font-weight: bold;
  display: inline;
}
#serviceprovider-summary dd {
  margin: 0;
  display: inline;
}
.node-type-serviceprovider .field-field-serviceprovider-logo {
  width: 180px; 
  height: 135px; 
  float: left; 
  border: 1px solid #CCC;
  margin-right: 20px;
  padding: 5px;
  display: table; 
  overflow: hidden;
}
.node-type-serviceprovider .field-field-serviceprovider-logo .field-content {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
#serviceprovider-summary .serviceproviders-meta {
  width: 430px;
  float: right;
}
#serviceprovider-summary .field-field-serviceprovider-stad,
#serviceprovider-summary .field-field-serviceprovider-link {
  margin-top: 0.5em;
}
.node-type-serviceprovider h2 {
  font-size: 1.2em;
}
.node-type-serviceprovider .group-serviceprovider-contact {
  margin-left: 20px;
}
