.view-Evenementen .views-row {
  margin-bottom: 25px;
  clear: left;
}

.view-Evenementen .views-field-field-location {
  border-left: 1px solid black;
  float: left;
  width: 39%;
}

.view-Evenementen .views-field-field-location > div, .view-Evenementen .views-field-field-location > strong {
  padding-left: 10px;
}

.view-Evenementen .views-field-body {
  float: left;
  width: 60%;
}
