/*
 * Views Serviceprovider
 */
.view-serviceproviders .views-row {
  margin: 25px 0 20px 0;
}  
 
.view-serviceproviders .views-field {
  padding-left: 212px;
} 
 
.view-serviceproviders .views-field-field-serviceprovider-logo {
	padding-left: 0;
  border: 1px solid #CCCCCC;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
  height: 135px;
  margin-bottom: -148px;
  margin-right: 20px;
  overflow: hidden;
  padding: 5px;
  width: 180px;
}
.view-serviceproviders .views-field-field-serviceprovider-logo .field-content {
  display: table-cell; 
	text-align: center;
	vertical-align: middle;
  height: 135px;
  width: 180px;
}
.view-serviceproviders .views-field-field-serviceprovider-logo a {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.view-serviceproviders .views-field-title h2 {
  font-size: 1.4em;
  margin: 0 0 0.5em;
}

.view-serviceproviders .views-field-body {
  margin-bottom: 1em;
}

.view-serviceproviders .views-field-field-serviceprovider-link .views-label,
.view-serviceproviders .views-field-field-dienst .views-label {
	float: left;
	margin-right: 0.4em;
}
